.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .csv-file-chooser-section {
    padding: 10px;
    margin: 5%;
    border: 1px solid;
    text-align: center;
  }
  